Hello World in {{name}}!

<ul>
  <li><a href="{{ path('aml_user_index') }}">List users</a></li>
  <li><a href="{{ path('aml_user_add') }}">New user</a></li>
  <li><a href="{{ path('aml_contact_add')}}">Contact</a></li>
</ul>
